:root {
  --var-colorBackground: #335c67;
  --var-colorFont: #fff3b0;
  --var-colorOne: #e09f3e;
  --var-colorTwo: #9e2a2b;
  --var-colorThree: #540b0e;
}

body {
  margin: 0;
  background-color: var(--var-colorThree);
  color: var(--var-colorFont);
}
.h2__title-game-recordatorio{
  background: gray;
  box-shadow: 5px 5px black;
  text-align: center;
  
  
}
.div__recordatorio-conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h2__title {
  font-size: 40px;
  background: black;
  box-shadow: 5px 5px gray;
  padding: 0 20px;
  border-top-left-radius: 30px 30px;
  border-bottom-right-radius: 30px 30px;
}

.li__recordatorio {
  list-style: none;
  font-size: 25px;
  margin: 20px 0;
  color: var(--var-colorFont);
  background: black;
  border-radius: 40px 40px;
  box-shadow: 5px 5px gray;
  padding: 0 20px;
}


.button__rec{
  font-size: 20px;
  background-color: black;
  padding: .375rem .75rem;
  border: 1px solid gray;
  border-radius: 15px;
  color: #fff3b0;
  box-shadow: 3px 3px gray;
  margin-bottom: 15px;
}

.button__rec:hover, .button__rec:active, .button__rec:focus {
  color: black;
  background-color: #fff3b0;
}
